#pageTitle {
  color: green;
  font-family: sans-serif;
  font-size: 60px;
  font-weight:300;
  background-color: skyblue;
  background-size: cover;

}
.content {
  color: red;
  font-family: serif;
  font-size: 40px;
  font-weight:100;
  background-color: yellow;
}