#pageTitle {
  /* カラー：緑 フォント：ゴシック サイズ60 太さ300 背景色：水色 サイズ30% 行間150   */
  color: green;
  font-family: sans-serif;
  font-size: 60px;
  font-weight:300;
  background-color: skyblue;
  background-size: 30%;
  line-height: 150px;
  display: inline-block;
}

.content {
  /* カラー：赤 フォント：明朝 サイズ40 太さ100 背景色：黄色 サイズ30% 行間150   */
  color: red;
  font-family: serif;
  font-size: 40px;
  font-weight:100;
  background-color: yellow;
  background-size: 30%;
  line-height: 150px;
  display: inline-block;
}